.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 18px;
    row-gap: 25px;
    margin-top: 25px;
}

.allarts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
}


.allarts-header h3 {
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;

    /* Gray/Transparent/1 */
    color: var(--color-gray-transparent-1)
}

.collection-card {
    width: 289px;
    height: 346px;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.collection-card-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 107px;
    height: 67px;
    left: calc(50% - 107px/2 + 0.07px);
    top: calc(50% - 67px/2 - 0.5px);
    z-index: 111;
}

.collection-card-detail h3 {
    font-weight: 700;
    font-size: 36px;
    width: 100vw;
    line-height: 43px;
    text-align: center;
    letter-spacing: -1px;
    color: #FFFFFF;
}

.collection-card-detail p {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    text-align: center;
    color: #FFFFFF;
}

.collection-card img {
    transition: transform .4s;
    opacity: 0.9;
}

.collection-card:hover img {
    transform: scale(1.1);
    transform-origin: 50% 50%;
}



@media(max-width:1250px) {
    
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 25px;
        margin-top: 25px;
    }

}


@media(max-width:950px) {
  
    .card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 1px;
        row-gap: 25px;
        margin-top: 25px;
    }

    .allarts-header {
        display: block;
        gap: 10px;
        align-items: center;
        margin-top: 22px;
    }

}

@media(max-width:650px) {

    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 18px;
        row-gap: 25px;
        margin-top: 25px;
        margin: auto;
    }

}