/* Curated Arts Div */

.curated--arts {
    display: flex;
    flex-direction: column;
    width: 1216px;
    height: 529px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 94px;
    margin-top: 139px;
}

.curated--arts-arts {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 1216px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.curated--arts h3 {
    width: 213px;
    margin-bottom: 33px;

}


/* Featured Collections Div */


.featured--collections {
    display: flex;
    flex-direction: column;
    width: 1216px;
    height: 454px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

}

.featured--collections-details {
    display: flex;
    width: 1216px;
    justify-content: space-between;
}

.featured--collections-details h3 {
    font-size: 36px;
    font-weight: 500;
    color: var(--color-gray-transparent-1);
}

.featured--collections-details {
    margin-bottom: 33px;
}

.featured--collection-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 8px;
    width: 176px;
    height: 100%;

    /* Button Gradient/Gray/Gradient */
    background: linear-gradient(180deg, #2A2B2F 0%, #17181A 100%);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.07), inset 0px -1px 0px rgba(0, 0, 0, 0.49);
    border-radius: 20px;
}

.featured--collection-button p {
    width: 108px;
    height: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    /* Accent/Solid/3 */
    color: var(--color-accent-solid-3);
    flex: none;
}

.featured--collection-button img {
    /* Accent/Solid/3 */
    color: #A394FF;
}

/* Carousel Container  */

.carousel--container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 1234px;
    height: 454px;
    left: 0;
    right: 0;
    margin-left: -10px;
    margin-right: auto;
    
}

.collection--card {
    width: 289px;
    height: 346px;
    background: var(--color-black);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.7), inset 0px 1px 2px rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    gap: 20px;  
    margin-left: 10px;


}

.collection--card img {
    transition: transform .4s;
    opacity: 0.9;
    z-index: -111;
}

.collection--card:hover img {
    transform: scale(1.1);
    transform-origin: 50% 50%;
}


.collection--card-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

}

.collection--card-detail h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    letter-spacing: -1px;
    color: var(--color-white);
}

.collection--card-detail p {
    width: 92px;
    height: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: var(--color-white);

}

.react-multiple-carousel__arrow {
    margin-top: 153px;
}

.react-multiple-carousel__arrow--left,
.react-multiple-carousel__arrow--right{
    width: 40px;
    height: 40px;
    /* Gray/Solid/6 */
    background: #1D1D1D;
    /* Evaluation/2 */
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.7), inset 0px 1px 2px rgba(255, 255, 255, 0.06);
    border-radius: 20px;
}

.react-multiple-carousel__arrow--left:hover,
.react-multiple-carousel__arrow--right:hover{
    width: 40px;
    height: 40px;
    /* Gray/Solid/6 */
    background: #1D1D1D;
    /* Evaluation/2 */
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.7), inset 0px 1px 2px rgba(255, 255, 255, 0.06);
    border-radius: 20px;
}

.react-multiple-carousel__arrow--left{
    margin-left: -47px;
}

.react-multiple-carousel__arrow--right{
    margin-right: -50px;
}

/* artists of the week section */
.weekly--artists {
    width: 1216px;
    height: 1864px;
    left: 0;
    right: 0;
    margin-top: 94px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.weekly-artists-details {
    display: flex;
    justify-content: space-between;
}

/* Why Shop with us Section */

.shop {
    left: 0;
    right: 0;
    margin-top: 115px;
    margin-left: auto;
    margin-right: auto;
    height: 521px;
    width: 1216px;
    margin-bottom: 96px;
}

.shop h3 {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
}

.shop-boxes {
    display: flex;
    gap: 32px;
    margin-top: 33px;
}

.box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 384px;
    height: 416px;
    /* Gray/Solid/7 */
    background: var(--color-gray-solid-7);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.7), inset 0px 1px 2px rgba(255, 255, 255, 0.06);
    border-radius: 12px;
}

.box h3 {
    width: 328px;
    height: 40px;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    margin-top: 12px;
    /* Gray/Transparent/1 */
    color: var(--color-gray-transparent-1);
}

.box p {
    width: 328px;
    height: 120px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-top: 12px;
    /* Gray/Transparent/2 */
    color: var(--color-gray-transparent-2);
}

.box-image {
    width: 152px;
    height: 152px;
    margin-top: 40px;
}

.invisible-image {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    filter: blur(65px);
}


