.weekly-artist {
    width: 1216px;
    height: 424px;
    margin: 33px 0;
    border-radius: 12px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.weekly-artist-details {
    width: 217px;
    height: 274px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weekly-artist-details img {
    height: 144px;
    width: 144px;
}

.weekly-artist-details p {
    width: 217px;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.5px;


    /* Gray/Transparent/1 */
    color: var(--color-gray-transparent-1);

}


.weekly-artist-details a {
    width: 100px;
    height: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    margin-top: 17px;
    text-align: center;
    cursor: pointer;
    /* Accent/Solid/3 */
    color: var(--color-accent-solid-3);
}

.weekly-artist-div {
    width: 1216px;
    height: 424px;
    padding: 36px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.weekly-artists-arts {
    width: 907px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.weekly-card-hide {
    height: 350px;
    width: 289px;
    border-radius: 8px;
    border-radius: 8px;
    overflow: hidden;
    gap: 20px;
}