@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* fonts */
    --font-base: 'Albert Sans', sans-serif;

    /* accent-color */
    --color-accent-transparent-1: #6631FF;
    --color-accent-transparent-2: rgba(102, 49, 255, 0.75);
    --color-accent-transparent-3: rgba(102, 49, 255, 0.5);
    --color-accent-transparent-4: rgba(102, 49, 255, 0.25);
    --color-accent-transparent-5: rgba(102, 49, 255, 0.1);

    --color-accent-solid-1: #745EFF;
    --color-accent-solid-2: #8A77FF;
    --color-accent-solid-3: #A394FF;
    --color-accent-solid-4: #C5BCFF;
    --color-accent-solid-5: #D1CAFF;
    --color-accent-solid-6: #E0DBFF;

    /* secondary- color */
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gradient-gray: linear-gradient(180deg, #2A2B2F 0%, #17181A 100%);

    /* gray-transparent */
    --color-gray-transparent-1: rgba(255, 255, 255, 0.8);
    --color-gray-transparent-2: rgba(255, 255, 255, 0.65);
    --color-gray-transparent-3: rgba(255, 255, 255, 0.35);
    --color-gray-transparent-4: rgba(255, 255, 255, 0.2);
    --color-gray-transparent-5: rgba(255, 255, 255, 0.08);
    --color-gray-transparent-6: rgba(255, 255, 255, 0.04);
    --color-gray-transparent-7: rgba(255, 255, 255, 0.02);

    /* gray-solid */
    --color-gray-solid-9: #090909;
    --color-gray-solid-8: #101010;
    --color-gray-solid-7: #161616;
    --color-gray-solid-6: #1D1D1D;
    --color-gray-solid-5: #2D2D2D;
    --color-gray-solid-4: #3F3F3F;
    --color-gray-solid-3: #898989;

    /* success */
    --color-success-solid: #15E951;
    --color-success-transparent: rgba(21, 233, 81, 0.25);
    --color-success-gradient: linear-gradient(180deg, #18EA54 0%, #037732 100%);

    /* danger */
    --color-danger-solid: #FF3440;
    --color-danger-transparent: rgba(255, 52, 64, 0.25);
    --color-danger-gradient: linear-gradient(180deg, #FF3440 0%, #EB0A17 100%);

    /* warning */
    --color-warning-solid: #FFA928;
    --color-warning-transparent: rgba(255, 169, 40, 0.15);
    --color-warning-gradient: linear-gradient(180deg, #FFB03A 0%, #EC7F00 100%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-position: center;
    background-size: cover;
    color: var(--color-gray-transparent-2);
    font-family: var(--font-base);
    font-weight: 400;
}

body {
    background-color: var(--color-gray-solid-9);
}

a {
    text-decoration: none;
}

P{
    color: var(--color-gray-transparent-1);
}

section{
    width: 1216px;
    margin: auto;
}

h3{
    font-weight: 500;
    font-size: 36px;
    color: var(--color-gray-transparent-1);
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* Button Gradient/Gray/Gradient */
    background: linear-gradient(180deg, #2A2B2F 0%, #17181A 100%);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.07), inset 0px -1px 0px rgba(0, 0, 0, 0.49);
    border-radius: 20px;
}

button:hover {
    /* Button Styles/Secondary/Hover */
    box-shadow: 0px 6px 20px rgba(255, 255, 255, 0.06), inset 0px 1px 0px rgba(255, 255, 255, 0.07), inset 0px -1px 0px rgba(0, 0, 0, 0.49);
    border-radius: 20px;
}

button:active {
    /* Button Gradient/Gray/Reverse */
    background: linear-gradient(180deg, #17181A 0%, #2A2B2F 100%);
    border-radius: 20px;
}

.slide-bottom {
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@media(max-width:1250px) {
    
    section{
        width: 800px;
        margin: auto;
    }
    

  }

  @media(max-width:950px) {
    section{
        width: 600px;
        margin: auto;
    }
    
  }

  @media(max-width:650px) {
    section{
        width: 400px;
        margin: auto;
    }
    
  }


@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-25%);
        transform: translateY(-25%);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-25%);
        transform: translateY(-25%);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}